extends layout

block content
  .row
    nav.navbar.navbar-default(role='navigation')
      button(type='button' class='navbar-toggle' data-toggle='collapse' data-target='ul.nav.navbar-nav')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar

      ul.nav.navbar-nav.collapse.navbar-collapse
        li
          a(href='#') What is this?
        li
          a(href='#') Privacy Policy
        li
          a(href='#') Get in touch

  .container
    table.centered.col-xs-12
      tbody
        tr
          // td.col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
          td
            form#intro-form.intro-form.col-xs-12(role='form')
              .row
                .col-xs-12
                  .form-group.first-step.form-inline
                    label.col-lg-4.col-md-5.col-sm-6.h1.
                      #{imhappyfor}

                    .col-lg-5.col-md-5.col-sm-4
                      input.intro-input.col-xs-12.form-control(placeholder='Eg. My family' name='answer')

                    .col-lg-3.col-md-2.col-sm-2
                      input.intro-button.col-xs-12.btn.btn-success(type='button' value='send')

                    input(type='hidden' name="answerId" value='')

                .col-xs-12
                  .form-group.col-xs-12.second-step
                    .h2 Tell us more about your answer

                    .h3 It was about:

                    .radio
                      label
                        input(type='radio' name='answerCategory' id='optionsRadios1' value='things')

                        span Things (Material)

                    .radio
                      label People (Family, Friends, etc)
                        input(type='radio' name='answerCategory' id='optionsRadios2' value='people')

                    .radio
                      label Places (Locations)
                        input(type='radio' name='answerCategory' id='optionsRadios3' value='places')

                    .radio
                      label Feeling (Something not physical)
                        input(type='radio' name='answerCategory' id='optionsRadios4' value='feelings')

              .row
                p.text-center.people-already-anwser.
                  1300 people already anwser what they are happy for