* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
 body {
  line-height: 1.7em;
  color: #7f8c8d;
  font-size: 13px;
}

body, html {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #34495e;
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
 .l-box {
  padding: 1em;
}

.l-box-lrg {
  padding: 2em;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
  text-align: center;
}



/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form.splash-form-align {

}

.splash-input-align {
  display: flex;
  justify-content: space-between;
}

.pure-form label {
  font-size: 100%;
}

.pure-form label.inline-label {
  margin: 0 0 0 0;
  padding: 0;
  line-height: 100%;
  letter-spacing: 0;
}

.pure-form label.inline-label.input {
  margin-top: 0;
  border: 2px dashed #DDD;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  margin: 0 0 0 0.5em;
  flex: 1;
  width: 100%;
  white-space: nowrap;
  text-align: start;
  overflow: hidden;
}

.input-inner-editor {
  display: block;
  margin: 0;
}

.input-inner-editor * {
  display: inline !important;
}

.input-inner-editor br {
  display: none !important;
}

.pure-form label.inline-label.input:focus,
.input-inner-editor:focus {
  outline: none;
}

.pure-button.inline-button {
  padding: 0 0.5em;
  margin: 1em 0 0 0;
}

.pure-form .inline-button {

}

.splash-align {
  display: flex;
  justify-content: center;
}


/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
  padding: 0.5em;
  box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu.pure-menu-open,
.footer {
  background: #2d3e50;
}
.pure-menu.pure-menu-open.pure-menu-fixed {
  /* Fixed menus normally have a border at the bottom. */
  border-bottom: none;
  /* I need a higher z-index here because of the scroll-over effect. */
  z-index: 4;
}

.home-menu .pure-menu-heading {
  color: white;
  font-weight: 400;
  font-size: 120%;
}

.home-menu .pure-menu-selected a {
  color: white;
}

.home-menu a {
  color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
  background: none;
  border: none;
  color: #AECFE5;
}


/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

 .splash-container {
  background-image: url('/img/happy-001.jpg');
  /*background-attachment: fixed !important;*/
  background-position: 0 0;
  background-size: cover;
  z-index: 1;
  overflow: hidden;
  /* The following styles are required for the "scroll-over" effect */
  width: 100%;
  height: 88%;
  top: 0;
  left: 0;
  position: fixed !important;
}

.splash {
  /* absolute center .splash within .splash-container */
  width: 80%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 100px; left: 0; bottom: 0; right: 0;
  text-align: center;
}

/* This is the main heading that appears on the blue section */
.splash-head {
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: 3px solid white;
  padding: 1em 1.6em;
  font-weight: 100;
  border-radius: 5px;
  line-height: 1em;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
  color: white;
  letter-spacing: 0.05em;
  opacity: 0.8;
  font-size: 1.7em;
}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
 .content-wrapper {
  /* These styles are required for the "scroll-over" effect */
  position: absolute;
  top: 87%;
  width: 100%;
  min-height: 12%;
  z-index: 2;
  background: white;

}

/* This is the class used for the main content headers (<h2>) */
.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
  color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
  color: #1f8dd6;
}
.content-subhead i {
  margin-right: 7px;
}

/* This is the class used for the dark-background areas. */
.ribbon {
  background: #2d3e50;
  color: #aaa;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
 @media (min-width: 48em) {

  /* We increase the body font size */
  body {
    font-size: 16px;
  }
  /* We want to give the content area some more padding */
  .content {
    padding: 1em;
  }

    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
      border: none;
    }

  }

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */

@media all and (min-width: 817px) {
  .splash-head {
    font-size: 200%;
  }
}

@media (min-width: 78em) {
  /* We increase the header font size even more */
  .splash-head {
    font-size: 300%;
  }
}

@media all and (max-width: 492px) {
  .splash-align {
    display: block;
  }

  .splash-container {
    position: relative !important;
  }

  .pure-form label.inline-label.input {
    flex: none;
    width: 100%;
    margin: 0;
  }

  .pure-form label.inline-label {
    text-align: left;
  }
}
