@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);

body, html, table, .container {
  height: 100%;
}

body {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.centered {
  margin: 0 auto;
}

@media (max-width: 768px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    position: relative;
  }

  body, html, table, .container {
    height: auto;
  }
}

@media (max-width: 1800px) and (min-width: 1000px) {
  body {
    /*
    http://www.flickr.com/photos/150hp/11011233373/sizes/l/
    background-image: url('http://farm4.staticflickr.com/3821/11011233373_96bd01daf9_o.jpg');*/

    /* http://www.flickr.com/photos/109423104@N04/10982386274/sizes/h/ */
    background-image: url('http://farm3.staticflickr.com/2855/10982386274_b5157607ed_h.jpg');
  }
}

.jumbotron {
  background-color: rgb(238, 238, 238);
  background-color: rgba(238, 238, 238, 0.8);
}

.third-step input {
  margin-top: 14px;
}

.people-already-anwser {
  margin: 40px 0 0 0;
}

.second-step,
.third-step {
  display: none;
}

.second-step-answer {
  text-decoration: underline;
}

.button {
    background: #DCE0E0;
    position: relative;
    display: block;
    float: left;
    height: 40px;
    margin: 0 7px;
    overflow: hidden;
    width: 150px;
    border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.icon {
    display: block;
    float: left;
    position: relative;
    z-index: 3;
    height: 100%;
    vertical-align: top;
    width: 38px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-radius: 3px 0px 0px 3px;
    border-radius: 3px 0px 0px 3px;
    text-align: center;
}

.icon i {
    color: #fff;
    line-height: 42px;
}

.slide {
    z-index: 2;
    display: block;
    margin: 0;
    height: 100%;
    left: 38px;
    position: absolute;
    width: 112px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    border-radius: 0px 3px 3px 0px;
}

.slide p {
    font-family: Open Sans;
    font-weight: 400;
    border-left: 1px solid #fff;
    border-left: 1px solid rgba(255,255,255,0.35);
    color: #fff;
    font-size: 16px;
    left: 0;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 100%;
}

.facebook .icon, .facebook .slide {
    background: #305c99;
}

.twitter .icon, .twitter .slide {
    background: #00cdff;
}