extends layout

block content
  .header
    .home-menu.pure-menu.pure-menu-open.pure-menu-horizontal.pure-menu-fixed
      ul
        li.pure-menu-selected
          a(href='/')= t('ns.common:menu.home')
        li
          a(href='/what')= t('ns.common:menu.what_is_this')
        li
          a(href='/who')= t('ns.common:menu.who_did_this')
        li
          a(href='/touch')= t('ns.common:menu.get_in_touch')
        li
          a(href='?setLng=en') English
        li
          a(href='?setLng=pt-BR') Português
  .splash-container
    .splash
      p.splash-subhead
        | We want to know, what makes you happy? :D
      div.splash-head
        form.pure-form.splash-form-align
          .pure-g
            label.inline-label I'm happy for
            label.inline-label.input(contenteditable)

          .pure-g.splash-align
            button.button-large.pure-button-primary.pure-button.inline-button(type='submit') Send Answer!
  .content-wrapper
    .content
      .pure-g.l-box-lrg
        .l-box-lrg.is-center.pure-u-1.pure-u-md-1-2.pure-u-lg-2-5
          // img.pure-img-responsive(alt='File Icons', width='300', src='img/common/file-icons.png')
        .pure-u-1.pure-u-md-1-2.pure-u-lg-3-5
          // h2.content-head Laboris nisi ut aliquip.
          p
            | This is a non-profit project for people who wants to share there happiness and ther gratetute. Please participate.
            | We won't collect any info from you and all the resposts are anonimys.

    .footer.l-box.is-center
